* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.App {
  background-color: black;
}

.quest-wrapper {
  background-color: white;
  width: 70vw;
  margin: 5rem auto;
  border-radius: 10px;
  padding: 2rem;
}

.item {
  padding: 15px 0;
}

.titulo {
  padding-left: 0.3rem;
  margin-bottom: 0.9rem;
  font-weight: 500;
  font-size: 1.3rem;
}

.input {
  padding: 15px 0;
  margin-left: 0.3rem;
  outline: none;
  border: none;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.700);
  width: 70%;
}

.input:focus {
  border-bottom: solid 1px;
}

.input:focus > .titulo {
  border-left: solid 3px black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#equipes_holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

#equipes {
  padding: 10px 15px;
  font-size: 1.1rem;
  width: 90%;
}

.item_equipe {
  display: grid;
  place-items: center;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.103);
  padding: 15px;
  width: 15vw;
  min-height: 15vh;
  height: fit-content;
  margin: 1rem 0.2rem;
  cursor: pointer;
  border-radius: 5px;
}

.equipe {
  margin: 3rem 0;
}

.item_equipe_p {
  pointer-events: none;
  caret-color: transparent;
}

#termos_holder {
  margin-top: 5rem;
}

#termos_holder > div {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.7rem;
}

#iframe_holder {
  display: flex;
  overflow-y: scroll;
  max-height: 700px;
}

#iframe {
  height: 4600px;
}

.li_e_concordo {
  font-size: 1.2rem;
  font-weight: 500;
}

#li_e_concordo {
  margin-right: 1rem;
  size: 2rem;
}

#select_holder {
  width: 100%;
}

#submit-button {
  display: block;
  width: 20%;
  margin: 2rem auto 0;
  padding: 10px 0;
  font-size: 1.1rem;
}